.home-page {
    margin: 0;
    background-image: url('/home.png');
    background-position: center;
    background-size: cover;
    background-color: #f4efe5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.logo {
    width: clamp(300px, 50vw, 500px);
    padding-top: 20px;
    max-width: none;
}

.group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer {
    width: 150px;
    height: auto;
    order: 0;
    flex-shrink: 0;
}

.menu {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.party {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.party-side {
    display: flex;
    flex-direction: row;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon {
    width: 150px;
    height: auto;
    image-rendering: pixelated;
}