.home-page {
    margin: 0;
    background-image: url('/home.png');
    background-position: center;
    background-size: cover;
    background-color: #f4efe5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.pokegachi-logo { /*turns out that nes has a logo class so this wasnt even doing anything */
    width: clamp(500px, 70vw, 550px);
    padding-top: 20px;
    max-width: none;
    filter: drop-shadow(2px 0 0 #1949c4) /*cool way to get transparent background images to have outliens or shadow*/
            drop-shadow(-2px 0 0 #1949c4) 
            drop-shadow(0 2px 0 #1949c4) 
            drop-shadow(0 -2px 0 #1949c4)
            drop-shadow(0 0 0.7rem #000);
}

.group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.trainer {
    width: clamp(100px, 12vw, 180px);
    height: auto;
    order: 0;
    flex-shrink: 0;
}

.menu {
    display: flex;
    gap: clamp(4rem, 6vw, 8rem);
    margin-top: clamp(2rem, 6vw, 5rem);
    flex-wrap: wrap;
    justify-content: center;
}

.party {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 3vw, 3rem);
    flex-wrap: nowrap;
}

.party-side {
    display: flex;
    flex-direction: row;
    gap: clamp(2rem, 10vw, 4rem);
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon {
    width: clamp(120px, 10vw, 250px);
    height: auto;
    image-rendering: pixelated;
}