.login-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/login_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-focus { /* the logo + form */
    position: relative;
    width: min(90vw, 400px);
    display: flex;
    flex-direction: column;
}

.logo {
    width: clamp(180px, 28vw, 340px);
    margin-bottom: 25px;
}

.panel {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    background: rgba(217, 217, 217, 0.1);
    border: 1px solid rgba(124, 124, 124, 0.4);
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.panel label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.panel input {
    padding: 0.8rem 1rem;
    border-radius: 12px;
    border: none;
}

.panel button {
    padding: 0.9rem;
    border: none;
    border-radius: 12px;
}