.pokemon-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/pokemon_background.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.pokemon-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14rem;
    flex-wrap: wrap;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-info h3 {
    margin-top: -1rem;
}

.selected-img {
    width: clamp(250px, 30vw, 350px);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.menu-actions { /*naming two css classes the same thing even in different files breaks one*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.menu-actions button {
    font-size: clamp(20px, 4vw, 30px);
    padding: 1rem 2rem;
}

.pokemon-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    padding: 1.5rem;
    border-radius: 8px;
    gap: 1rem;
    box-sizing: border-box;
}

.pokemon-bottom img {
    image-rendering: pixelated;
    cursor: pointer;
    width: clamp(100px, 10vw, 200px);
    aspect-ratio: 1;
}

.back {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    z-index: 10;
}