html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}

.nes-btn {
  background-color: #E73737;
  color: white;
  font-size: 26px;
}

.nes-btn::after {
  box-shadow: inset -4px -4px #000000;
}